<p id="notice"><%= notice %></p>
<div class="container">
	<p style="color: grey;">search result for " <%=params[:search]%> "</p>          
	<div id="list_search_reviews">
		<%= render partial: "reviews/search_review", collection: @reviews, as: :r %>
	</div>
	<div id="infinite-scrolling">
		<%= will_paginate @reviews%>
	</div>
</div>